* {
  margin: 0 auto;
  padding: 0;
}

.App {
  
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.submit {
  display: flex;
  justify-content: center;
}