* {
  margin: 0 auto;
  padding: 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.border {
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  text-align: center;
  background-color: blueviolet;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.card {
  height: 5em;
  width: 20em;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%
}

.margin {
  margin: 1.1rem;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 5px;
}